body {
  margin: auto;
  background-color: #232830;
  color: white;
  font-family: "Poppins", sans-serif;
}
hr {
  margin: 0 -10000px;
  border: 3px solid #4d4d4d;
  opacity: 20%;
}
a:any-link {
  color: black;
  text-decoration: none;
}
.wrapper {
  overflow-x: hidden;
}
.container {
  margin: 50px 100px;
}
.nav {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 30px;
}
.nav-menu ul {
  margin: 0;
  display: flex;
  gap: 10%;
  list-style: none;
}
.nav-menu li {
  font-size: 24px;
}
.burger-menu {
  display: none;
}
.page-header {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  margin-top: 100px;
}
.page-header img {
  width: 195px;
  height: 205px;
}
.copy-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.copy-header h1 {
  font-family: "Recursive", sans-serif;
  font-style: italic;
  font-weight: 400;
  color: #ff7575;
  margin: auto;
  font-size: 70px;
}
.copy-header h2 {
  font-weight: 400;
  font-size: 29px;
}
.nav-content {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.nav-content-icon-grid,
.nav-content-icon-list {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}
.content-menu {
  display: flex;
}
.content-menu div {
  margin: 0px 8px;
  font-family: "Recursive", sans-serif;
  font-size: 27px;
  font-weight: 400;
  font-style: italic;
  line-height: 33px;
  color: #909090;
}
.content {
  margin: 94px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  background-color: white;
  width: 330px;
  height: 439px;
  border-radius: 22px;
  border: 1px solid #252930;
  padding: 29px 27px;
  margin: 37px 0;
  color: #0f1217;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-body img {
  width: 330px;
  height: 160px;
  border-radius: 22px;
}
.card .elipse {
  width: 3.45px;
  height: 3.45px;
  margin: 0 8px;
}
.nav-page {
  display: flex;
  gap: 30px;
  width: 40%;
  margin: 70px auto;
  font-family: "Recursive", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  line-height: 30px;
  color: #909090;
  justify-content: center;
  align-items: center;
}
.nav-page a:any-link {
  color: #909090;
  text-decoration: none;
}
.nav-page a:focus {
  border-top: #ff7575 solid 3px;
}
.nav-page-number {
  display: flex;
  gap: 20px;
}
.footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.footer span {
  font-size: 19px;
  background-color: #0f1217;
  padding: 8px;
  border-radius: 10px;
}

.social {
  background-color: #0f1217;
  padding: 8px;
  border-radius: 10px;
  color: white;
}

@media (max-width: 1320px) {
  .nav-content-icon-list {
    display: none;
  }
}
@media (max-width: 1220px) {
  .content-menu {
    overflow-x: scroll;
  }
}
@media (max-width: 971px) {
  .content {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 30px 50px;
  }
  .nav-menu {
    display: none;
  }
  .burger-menu {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }
  .page-header img {
    width: 155px;
    height: 165px;
  }
  .copy-header h1 {
    font-size: 50px;
  }
  .copy-header h2 {
    font-size: 19px;
  }
  .nav-content-icon-list {
    display: inline;
  }
  .nav-content-icon-grid {
    display: none;
  }
  .content {
    margin-top: 50px;
  }
  .card {
    width: 430px;
    height: 230px;
    padding: 19px 17px;
    margin: 17px 0px;
  }
  .card-body {
    display: flex;
    gap: 25px;
  }
  .text h3 {
    font-size: 16px;
  }
  .text p {
    font-size: 12px;
  }
  .card-body img {
    width: 165px;
  }
  .footer .title {
    font-size: 20px;
  }
  .footer span {
    font-size: 9px;
  }
  .social {
    font-size: 9px;
  }
}
@media (max-width: 561px) {
  .container {
    margin: 10px 20px;
  }
  .page-header {
    margin-top: 50px;
  }
  .content {
    margin-top: 20px;
  }
  .card {
    padding: 9px 7px;
  }
  .card img {
    width: 100px;
    height: 150px;
  }
}
@media (max-width: 426px) {
  .nav {
    align-items: center;
  }
  .title {
    font-size: 30px;
  }
  .content-menu div {
    font-size: 20px;
  }
  .footer span {
    padding: 8px;
  }
}
@media (max-width: 390px) {
  .text h3 {
    font-size: 14px;
  }
  .text p {
    font-size: 10px;
  }
  .nav-page {
    margin: 30px auto;
    font-size: 20px;
  }
  .footer {
    align-items: center;
  }
  .footer .title {
    font-size: 15px;
  }
}
@media (max-width: 358px) {
  .content-menu div {
    font-size: 14px;
  }
  .copy-header h1 {
    font-size: 30px;
  }
  .copy-header h2 {
    font-size: 20px;
  }
  .nav-page {
    font-size: 16px;
  }
  .footer .title {
    font-size: 10px;
  }
  .social {
    padding: 3px;
  }
}
